node_modules
package-lock.json
.expo
dist
coverage
.DS_Store
*.log
server/.env
apps/mobile/.env

# Miscellaneous
apps/flutter/*.class
apps/flutter/*.log
apps/flutter/*.pyc
apps/flutter/*.swp
apps/flutter/.DS_Store
apps/flutter/.atom/
apps/flutter/.build/
apps/flutter/.buildlog/
apps/flutter/.history
apps/flutter/.svn/
apps/flutter/.swiftpm/
apps/flutter/migrate_working_dir/

# IntelliJ related
apps/flutter/*.iml
apps/flutter/*.ipr
apps/flutter/*.iws
apps/flutter/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
apps/flutter/**/doc/api/
apps/flutter/**/ios/Flutter/.last_build_id
apps/flutter/.dart_tool/
apps/flutter/.flutter-plugins-dependencies
apps/flutter/.pub-cache/
apps/flutter/.pub/
apps/flutter/build/
apps/flutter/coverage/

# Symbolication related
apps/flutter/app.*.symbols

# Obfuscation related
apps/flutter/app.*.map.json

# Android Studio will place build artifacts here
apps/flutter/android/app/debug
apps/flutter/android/app/profile
apps/flutter/android/app/release

release-keystore.jks